<div class="card_margin_bottom">
    <div class="quick_card card">
        <h1 class="cover-heading">Kablaaa.....aaam!</h1>
        <p class="lead">This is a simple video app, where you can watch, categorize, <br> describe and index your favorite YouTube videos.</p>
        <p class="lead">
            <a href="/video/new" class="waves-effect waves-light btn">Add New</a>
        </p>
    </div>
</div>

