<div class="container">
    <div class="jumbotron opaque">
        <h1>Kablaaa.....aaam</h1>
        <p>This is a simple video app, where you can watch, categorize, <br> describe and index your favorite YouTube videos.</p>
        <br>
        <p><a href="/video/new" class="btn btn-primary btn-lg">New Video</a></p>
    </div>
</div>