<div class="inner cover">
<h1 class="cover-heading">Kablaaa.....aaam!</h1>
<p class="lead">This is a simple video app, where you can watch, categorize, <br> describe and index your favorite YouTube videos.</p>
<p class="lead">
    <a href="/video/new" class="waves-effect waves-light btn">Add Video</a>
</p>
</div>


<footer>
    <p><a href="sailsjs.org">Sails.js</a> App for <a href="http://www.nest71.com/">Nest71</a>, by <a href="https://github.com/adnanrahic">adnanrahic</a>.</p>
</footer>
